<div class="container row pt-4 col justify-content-center" style="width: 1200px;">

  <div class="card-product col-3 ">
    <%= image_tag "ginger_panda2.jpeg" %>
    <div class="card-product-infos">
      <h5 class="card-title">Category</h5>
      <a href="#" class="btn btn-primary">Find more</a>
    </div>
  </div>

  <div class="card-product col-3">
    <%= image_tag "ginger_panda2.jpeg" %>
    <div class="card-product-infos">
      <h5 class="card-title">Category</h5>
      <a href="#" class="btn btn-primary">Find more</a>
    </div>
  </div>

  <div class="card-product col-3">
    <%= image_tag "ginger_panda2.jpeg" %>
    <div class="card-product-infos">
      <h5 class="card-title">Category</h5>
      <a href="#" class="btn btn-primary">Find more</a>
    </div>
  </div>

  <div class="card-product col-3" style="padding: 24px;">
    <%= image_tag "ginger_panda2.jpeg" %>
    <div class="card-product-infos">
      <h5 class="card-title" style="justify-content:flex-start; text-align:start; padding-trailing:24px; padding-bottom:14px; padding-leading:24px; background-color:#FFFFFF; background-style:#FFFFFF; background-color-highlighted:#EBEBEB; background-style-highlighted:#EBEBEB;" >Category</h5>
      <a href="#" class="btn btn-primary">Find more</a>
    </div>
  </div>
</div>

<div class="a">
  <span>
    <div class="">
      <div class="titleprincipal">
          <h2>
             Decouvrez les nouveautes exeptionnelles
          </h2>
      </div>
    </div>
  </span>
</div>

<div class="radius">
  <div class="gridtaille">
    <div>
      <div class="carte">
        <div class="">
          <div class="portrait">
            <picture>
              <%= image_tag "ginger_panda2.jpeg" %>
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="radius">
    </div>
      <div class="gridtaille">
        <div>
          <div class="carte">
            <h3 class="textes">hshshshshs
              <span class="deco">Des animaux exo</span >
                <div class="portrait">
                  <picture>
                    <%= image_tag "ginger_panda2.jpeg" %>
                  </picture>
                </div>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
