<div class="container row pt-4 col justify-content-center" style="width: 1200px;">

  <div class="card-product col-3 ">
    <%= image_tag "lynx.jpeg" %>
    <div class="card-product-infos">
      <h5 class="card-title">Mammals</h5>
      <a href="#" class="btn btn-primary">Find more</a>
    </div>
  </div>

  <div class="card-product col-3">
    <%= image_tag "sloth.jpeg" %>
    <div class="card-product-infos">
      <h5 class="card-title">Fish</h5>
      <a href="#" class="btn btn-primary">Find more</a> <!-- faire un lien vers show (mot cles) category changer le a to link to gs-->
    </div>
  </div>

  <div class="card-product col-3">
    <%= image_tag "secretary_bird.webp" %>
    <div class="card-product-infos">
      <h5 class="card-title">Birds</h5>
      <a href="#" class="btn btn-primary">Find more</a>
    </div>
  </div>

  <div class="card-product col-3">
    <%= image_tag "iguane_marin.jpeg" %>
    <div class="card-product-infos">
      <h5 class="card-title">Reptiles</h5>
      <a href="#" class="btn btn-primary">Find more</a>
    </div>
  </div>
</div>

<div class="a">
  <span>
    <div class="">
      <div class="titleprincipal">
          <h2>
             Decouvrez les nouveautes exeptionnelles
          </h2>
      </div>
    </div>
  </span>
</div>

<div class="radius">
  <div class="gridtaille">
    <div>
      <div class="carte">
        <div class="">
          <div class="portrait">
            <picture>
              <%= image_tag "secretary_bird.webp" %>
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="radius">
    </div>
      <div class="gridtaille">
        <div>
          <div class="carte">
            <h3 class="textes">
              <div class="portrait">
                <picture>
                  <%= image_tag "lemur.jpeg" %>
                </picture>
              </div>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
