<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div  class="navbar-nav">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "logo_perroquet.jpg" %>
      <% end %>
      <h1><strong>Petzotic</strong></h1>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <%# <li class="nav-item active"> %>
            <%#= link_to "Home", "#", class: "nav-link" %>
          <%# </li> %>
          <li class="nav-item">
            <% if user_signed_in?  %>
              <%= button_to "Log out", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
            <% end %>
          </li >
            <%= link_to dashboard_path do %>
            <li >
              <% if user_signed_in? %>
                <%= cl_image_tag current_user.photos.first.key, class: "avatar dropdown-toggle"%>

              <% end %>
            <% end %>
            </li>


      </ul>
    </div>
  </div>
</div>
