
<div class="d-flex justify-content-center" >
  <%= simple_form_for(@pet) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :category %>
    <div id="autocomplete"></div>
    <%= f.select :specie, options_for_select(Pet::SPECIES), prompt: 'Select a specie' %>
    <%= f.input :price %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
 <%#  Pourquoi j'ai unpermitted param ? %>
