<h1>Meet our pets!</h1>
<p>Find me in app/views/pets/index.html.erb</p>

<% @pets.each do |pet| %>
  <div class="card-pet">
    <div>
<<<<<<< HEAD
      <%= pet.photos %>
=======
      <%= pet.image %>
>>>>>>> 8363a7afc6a21134e8d51aa4f4c44e654374c80c
    </div>
    <div class="card-pet-info">
      <div>
        <%= pet.category %> | <%= pet.specie %>
      </div>
      <div>
        <%= pet.name %>
      </div>
      <div>
        <%= pet.description %>
      </div>
      <div>
        <strong><%= pet.price %> €</strong> / day
      </div>
    </div>
  </div>
<% end %>

<div class="content">
  <div class="cards">
    <div class="card-pet">
      <div class="card-img">
        <%= image_tag "lion.jpg" %>
      </div>
      <div class="card-pet-info">
        <div>
          Wildcats | Lion
        </div>
        <div>
          <h1>Simba</h1>
        </div>
      <div>
          <p>
          Lorem ipsum dolor sit amet. Qui sunt deserunt qui saepe nisi sed repellat incidunt eos laboriosam molestias id aliquid culpa.
          </p>
        </div>
        <div class="text-end">
          <strong>10,000 €</strong> / day
        </div>
      </div>
    </div>
  </div>
  <div id="map">
  # TODO: Map setup
  </div>
</div>
