@import 'geocoder_controller'

<div class="content">
  <div class="card-index-display">
    <% @pets.each do |pet| %>
      <%= link_to pet_path(pet), :action => 'go' do %>
        <div class="card-index">
          <div class="card-index-photo">
            <% if pet.photos.any? %>
              <%= cl_image_tag pet.photos.first.key %>
            <% end %>
          </div>
          <div class="card-index-info">
            <div class="card-index-header">
              <div class="item">
                <%= pet.category.capitalize %> | <%= pet.specie %>
              </div>
              <div class="item text-end">
                <% if pet.available %>
                  <%= "Available" %>
                <% else %>
                  <%= "Not available" %>
                <% end %>
              </div>
            </div>
            <div>
              <h1><%= pet.name %></h1>
            </div>
            <div class="card-index-description">
              <p class="overflow-ellipsis"><%= pet.description %></p>
            </div>
            <div>
              <p>(...)</p>
            </div>
            <div class="text-end" id="daily-rate">
              <p><strong>€<%= pet.price %></strong> / day</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="map" style="width: 100%; height: 100vh;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
