<div class="content">
  <div class="cards-pet">
    <% @pets.each do |pet| %>
    <%= link_to pet_path(pet), :action => 'go' do %>
    <div>
      <div class="card-pet">
        <%= cl_image_tag pet.photos.first.key %>
        <div class="card-info">
          <div>
            <%= pet.category %> | <%= pet.specie %>
          </div>
          <div>
            <h1><%= pet.name %></h1>
          </div>
          <div class="card-description">
            <p class="overflow-ellipsis"><%= pet.description %></p>
          </div>
          <div>
            <p>(...)</p>
          </div>
          <div class="text-end">
            <p><strong><%= pet.price %> €</strong> / day</p>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
  <div id="map" style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
