<div class="content">
  <div class="cards">
    <div class="card-pet">
      <div class="card-img">
        <%= image_tag "lion.jpg" %>
      </div>
      <div class="card-pet-info">
        <div>
          Wildcats | Lion
        </div>
        <div>
          <h1>Simba</h1>
        </div>
      <div>
          <p>
          Lorem ipsum dolor sit amet. Qui sunt deserunt qui saepe nisi sed repellat incidunt eos laboriosam molestias id aliquid culpa.
          </p>
        </div>
        <div class="text-end">
          <strong>10,000 €</strong> / day
        </div>
      </div>
    </div>
    <% @pets.each do |pet| %>
      <div class="card-pet">
        <div class="card-img">
          <%= pet.photos %>
        </div>
        <div class="card-pet-info">
          <div>
            <%= pet.category %> | <%= pet.specie %>
          </div>
          <div>
            <h1><%= pet.name %></h1>
          </div>
          <div>
            <p><%= pet.description %></p>
          </div>
          <div class="text-end">
            <p><strong><%= pet.price %> €</strong> / day</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiYmJvdXJkZXQiLCJhIjoiY2wxbWcyM3N2MGptNDNvbzZpODNvMXV1bCJ9.bvAHOsqxzTXwk40xjic2DQ'>
</div>
