

<div class="d-flex justify-content-center">
  <%= simple_form_for(@pet) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.select :category, options_for_select(%w(categorie1 categorie2 categorie3 modifier_dans_pet.rb)) %>
    <%= f.select :specie, options_for_select(%w(specie1 specie2 specie3 modifier_dans_pet.rb), prompt: 'Select a specie') %>
    <%= f.input :price %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
 <%#  Pourquoi j'ai unpermitted param ? %>
