
<div class="container pet-show">

  <% @pet.photos.each do |pet_photo|%>
    <%= cl_image_tag pet_photo.key %>
    <% end %>
  <p><%= @pet.name %></p>
  <p><%= @pet.category  %></p>
  <p><%= @pet.description  %></p>
  <p><%= @pet.specie %></p>

  <%= link_to 'Back to list', pets_path, class: "btn btn-primary" %>
  <% if policy(@pet).edit? %>
    <%= link_to 'Edit this pet', edit_pet_path(@pet), class: "btn btn-primary" %>
  <% end %>
  <%# if policy(@pet).destroy? %>
    <%#= link_to "Remove",
                    pet_path(@pet),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
  <%# end %>
</div>
