<div class="container pet-show">

  <% @pet.photos.each do |pet_photo|%>
    <%= cl_image_tag pet_photo.key %>
    <%end%>
  <p><%= @pet.name %></p>
  <p><%= @pet.category  %></p>
  <p><%= @pet.description  %></p>
  <p><%= @pet.specie %></p>

  <%= link_to 'Back to list', root_path, class: "btn btn-primary" %>
</div>
