<h1>Pets#show</h1>
<p>Find me in app/views/pets/show.html.erb</p>


<p><%= @pet.name %></p>
<p><%= @pet.category  %></p>
<p><%= @pet.specie %></p>
<p><%= @pet.description  %></p>





<%= link_to 'Back to list', pets_path, class: "btn btn-primary" %>
<%= link_to 'Update your pet', edit_pet_path(@pet), class: "btn btn-primary" %>
