
<div class="container bg-white w-50 shadow p-3 mt-3">

  <% if @booking.pet.photos.any? %>
    <div class="text-center d-flex flex-row justify-content-around align-items-center">
      <%=  cl_image_tag @booking.pet.photos.first&.key, height: "200", width: "200", radius: "max", crop: "fill" %>
        <h1> X </h1>
      <%=  cl_image_tag @booking.user.photos.first&.key, height: "200", width: "200", radius: "max", crop: "fill" %>
    </div>
  <% end %>

  <div>
    <div class="d-flex flex-row justify-content-around ">
      <strong><h3 class="text-secondary"><%= @booking.pet.name.upcase %></h3></strong>
      <div class="d-flex flex-row align-items-center">

      </div>
    </div>

    <div class="border mb-3 p-3">
      <h3>Details</h3>
      <div class="d-flex flex-row justify-content-between text-secondary border round px-3">
        <% if @booking.status === 1%>
          <small class="text-success">Status: Accepted</small>
        <% elsif @booking.status === 2%>
          <small class="text-danger">Status: Rejected</small>
        <% else %>
          <small class="text-warning">Status: Pending</small>
        <% end %>
        <small>Order n°<%= @booking.id %></small>
      </div>

      <p>From <%= @booking.starting_date.strftime("%a %e %b %y") %> to <%= @booking.ending_date.strftime("%a %e %b %y") %> (<%= ((@booking.ending_date - @booking.starting_date)/(3600*24)).round %> days)
      <br>Total price: €<%= (@booking.pet.price * (@booking.ending_date - @booking.starting_date)/(3600*24)).round(0) %>
      <br><%= @booking.pet.address %>
       <br> class="text-secondary">owner: <%= @booking.pet.user.username.capitalize %></p>
        <%= cl_image_tag @booking.pet.user.photos.first.key, class: "avatar dropdown-toggle"%>

      <%= render 'reviews/form' %>
    </div>

    <!-- Mapbox -->
    <div id="map" style="width: 100%; height: 50vh;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @marker.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
