<div class="container">

  <div class="card-dashboard-menu">
  <% if @user.username %>
    <h1>Hello <%= @user.username.capitalize %>, welcome to your dashboard!</h1>
  <% else %>
    <h1> Welcome to your dashboard</h1>
  <% end  %>
</div>

  <div class="card-dashboard">
    <h1>My Profile</h1>
    <% if @user.username %>
      <p><strong>Username:</strong> <%= @user.username.capitalize %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
    <% else %>
      <p><strong>Username:</strong> <%= @user.email %></p>
    <% end %>
    <p><strong>Address:</strong> <%= @user.address %></p>
  </div>

  <div class="card-dashboard">
    <h1>My Pets</h1>
    <% @user.pets.all.each do |pet| %>
    <ul>
      <li>
        <%= pet.name %>
        (<%= pet.specie %>) -
        <%= link_to 'Edit', edit_pet_path(pet) %>
      </li>
    </ul>
    <% end %>
  </div>

  <div class="card-dashboard">

    <h1>Pending Bookings</h1>

    <% @pending_bookings.each do |pending_booking| %>
      <div class="card-pending-booking">
        <%= Pet.find(pending_booking.pet_id).name  %> <br>
        <%= User.find(pending_booking.user_id).username %> <br>
        <p>From: <%= pending_booking.starting_date.strftime("%a %e %b %y") %></p>
        <p>To: <%= pending_booking.ending_date.strftime("%a %e %b %y")  %></p>
        <p>Price: <%= ((pending_booking.ending_date - pending_booking.starting_date)/86400) * Pet.find(pending_booking.pet_id).price %>€</p>
          <h1>TODO: FORM pour PATCH le status</h1>
      </div>
    <% end %>
  </div>
</div>
