<div class="dashboard-background">
  <div class="container py-5">

    <%# Menu %>
    <div class="card-dashboard-menu">
      <div>
        <% if @user.username %>
          <h1>Hello <%= @user.username.capitalize %>, welcome to your dashboard</h1>
        <% else %>
          <h1> Welcome to your dashboard</h1>
        <% end  %>
      </div>
      <div>
        <%= link_to "Back to list", pets_path, class: "btn btn-warning ms-3" %>
      </div>
    </div>
    <br>

    <%# Profile %>
    <div class="card-dashboard">
      <div class="card-dashboard-header">
        <h1>My Profile</h1>
        <%= link_to "Edit profile", edit_user_registration_path(@user), class: "btn-green" %>
      </div>
      <div>
        <% if @user.username %>
          <h4>Username</h4>
          <p><%= @user.username.capitalize %></p>
          <h4>Email</h4>
          <p><%= @user.email %></p>
        <% else %>
          <h4>Username</h4>
          <p><%= @user.email %></p>
        <% end %>
        <h4>Address</h4>
        <p><%= @user.address.capitalize %></p>
      </div>
    </div>
    <br>

    <%# My pets %>
    <div class="card-dashboard">
      <div class="card-dashboard-header">
        <h1>My Pets</h1>
        <%= link_to "Add a pet", new_pet_path, class: "btn-green" %>
      </div>
      <div class="d-flex">
        <div class="column-60">
          <div class="d-flex justify-content-between">
            <h4>Team</h4>
            <h5><%= @user.pets.all.count %> pets</p>
          </div>
          <div class="user-pets-display">
            <% @user.pets.all.each do |pet| %>
              <div class="user-pet-card">
                <div class="card-index-photo">
                  <% if pet.photos.any? %>
                    <%= cl_image_tag pet.photos.first.key %>
                  <% end %>
                </div>
                <div class="user-pet-card-info">
                  <h4><%= pet.name %></h4>
                  <p><%= pet.specie %></p>
                  <p><strong>€<%= pet.price %></strong> / day</p>
                  <div class="d-flex flex-row justify-content-between mt-4">
                    <%= link_to "", edit_pet_path(pet), class:"links far fa-edit" %>
                    <%= link_to "", pet_path(pet), class:"links fas fa-eye" %>
                    <%= link_to "", pet_path(pet), class: "links fas fa-trash", method: :delete, data: { confirm: "Are you sure?" } %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="column-40 scroll">
          <div class="d-flex justify-content-between">
            <h4>Bookings</h4>
            <h5><%= @user.bookings_as_owner.all.count %> total | <%= @user.bookings_as_owner.pending.count %> pending</p>
          </div>
          <div class="owner-bookings-display">
            <% @user.bookings_as_owner.all.each do |booking| %>
            <div class="owner-booking-card">
              <% if booking.pet.photos.any? %>
                <%= cl_image_tag booking.pet.photos.first.key %>
              <% end %>
              <div class="info">
                <h4><%= Pet.find(booking.pet_id).name %></h4>
                <p>Requested by <%= User.find(booking.user_id).username.capitalize %></p>
                <p><%= booking.starting_date.strftime("%a %e %b %y") %> - <%= booking.ending_date.strftime("%a %e %b %y") %></p>
              </div>
              <div class="status">
                <% if booking.pending? %>
                  <p id="pending"><%= "Confirm?" %></p>
                  <div class="d-flex justify-content-between">
                    <a href="booking/<%= booking.id %>/validate"><i class="fa-solid fa-check m-3" style="color: green"></i></a>
                    <a href="booking/<%= booking.id %>/decline"><i class="fa-solid fa-xmark m-3" style="color: red"></i></a>
                  </div>
                <% elsif booking.accepted?%>
                  <p id="confirmed"><%= "Confirmed" %></p>
                <% else %>
                  <p id="rejected"><%= "Rejected" %></p>
                <% end %>
                <%= link_to "", booking_path(booking), class:"links fas fa-eye" %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br>

    <%# My Bookings %>
    <div class="card-dashboard">
      <div class="card-dashboard-header">
        <h1>My Bookings</h1>
        <%= link_to "Book a pet", pets_path, class: "btn-green" %>
      </div>
      <div class="user-bookings-display">
        <% @user.bookings.all.each do |booking| %>
          <div class="user-pet-card">
            <div class="card-index-photo">
              <% if booking.pet.photos.any? %>
                <%= cl_image_tag booking.pet.photos.first.key %>
              <% end %>
            </div>
            <div class="info">
              <h4><%= booking.pet.name %></h4>
              <p><%= booking.pet.specie %></p>
              <p>Owner: <%= booking.pet.user.username.capitalize %></p>
              <% if booking.accepted? %>
                <p id="confirmed"><%= "Confirmed" %></p>
              <% elsif booking.pending? %>
                <p id="pending"><%= "Pending" %></p>
              <% else %>
                <p id="rejected"><%= "Rejected" %></p>
              <% end %>
              <p>Period: <%= booking.starting_date.strftime("%a %e %b %y") %> - <%= booking.ending_date.strftime("%a %e %b %y") %> (<%= ((booking.ending_date - booking.starting_date)/(3600*24)).round %> days)</p>
              <p>Total price: €<%= (booking.pet.price * (booking.ending_date - booking.starting_date)/(3600*24)).round(0) %></p>
              <div class="d-flex flex-row justify-content-between mt-4">
                <%= link_to "", booking_path(booking), class:"links fas fa-eye" %>
                <%= link_to "", booking_path(booking), class: "links fas fa-trash", method: :delete, data: { confirm: "Are you sure?" } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br>

    <%# My past bookings %>
    <% if @past_bookings.any? %>


      <div class="card-dashboard">
        <div class="card-dashboard-header">
          <h1>My Past Bookings</h1>
          <%= link_to "Book a pet", pets_path, class: "btn-green" %>
        </div>

        <div class="user-bookings-display">
          <% @past_bookings.each do |booking| %>
            <div class="user-pet-card">
              <div class="card-index-photo">
                <%= cl_image_tag booking.pet.photos.first.key if booking.pet.photos.any? %>
              </div>
              <div class="info">
                <h4><%= booking.pet.name %></h4>
                <p><%= booking.pet.specie %></p>
                <p>Owner: <%= booking.pet.user.username.capitalize %></p>
                <% if booking.accepted? %>
                  <p id="confirmed"><%= "Confirmed" %></p>
                <% elsif booking.pending? %>
                  <p id="pending"><%= "Pending" %></p>
                <% else %>
                  <p id="rejected"><%= "Rejected" %></p>
                <% end %>
                <p>Period: <%= booking.starting_date.strftime("%a %e %b %y") %> - <%= booking.ending_date.strftime("%a %e %b %y") %> (<%= ((booking.ending_date - booking.starting_date)/(3600*24)).round %> days)</p>
                <p>Total price: €<%= (booking.pet.price * (booking.ending_date - booking.starting_date)/(3600*24)).round(0) %></p>
                <div class="d-flex flex-row justify-content-between mt-4">
                  <%= link_to "", booking_path(booking), class:"links fas fa-eye" %>
                  <%= link_to "", booking_path(booking), class: "links fas fa-trash", method: :delete, data: { confirm: "Are you sure?" } %>
                  <%= link_to "Leave a review", booking_path(booking) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>
