<div class="container">

  <div class="card-dashboard-menu">
  <% if @user.username %>
    <h1>Hello <%= @user.username.capitalize %>, welcome to your dashboard!</h1>
  <% else %>
    <h1> Welcome to your dashboard</h1>
  <% end  %>
</div>

  <div class="card-dashboard">
    <h1>My Profile</h1>
    <% if @user.username %>
      <p><strong>Username:</strong> <%= @user.username.capitalize %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
    <% else %>
      <p><strong>Username:</strong> <%= @user.email %></p>
    <% end %>
    <p><strong>Address:</strong> <%= @user.address %></p>
    <%= link_to "Edit profile", edit_user_registration_path(@user) %>

    <form action="/dashboard", method="">
      <input type="text" name="address" placeholder="Update your address here">
      <input type="submit" value="Edit address">
    </form>
  </div>

  <div class="card-dashboard">
    <h1>My Pets</h1>
    <div class="d-flex flex-row ">
      <% @user.pets.all.each do |pet| %>
        <div class="user-pet-card mx-3 d-flex flex-column border">

          <div class="user-pet-image">
            <% if pet.photos.any? %>
              <div class="" style="background-image: url(<%= cl_image_path pet.photos.first.key %>); background-size: cover; height: 200px; width: 230px;"></div>
            <% end %>
          </div>

          <div class="d-flex flex-column justify-content-around m-2">
            <h4><%= pet.name %></h4>
            <p class="links">Specie: <%= pet.specie %></p>
            <strong><%= pet.price %>€</strong>
            <div class="d-flex flex-row justify-content-between mt-2">
              <%= link_to "", edit_pet_path(pet), class:"links far fa-edit" %>
              <%= link_to "", pet_path(pet), class:" links fas fa-eye" %>
              <%= link_to "", pet_path(pet), class: "links fas fa-trash", method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
    <%= link_to "Add Pet", new_pet_path, class:"btn btn-success m-3" %>
  </div>



  <div class="pending card-dashboard">
    <h1>Your pending bookings as a user(<%= @pending_bookings.count %>)</h1>
    <h3>Here is the list of the confirmations you'r waiting for from the pet owner</h3>
    <% @pending_bookings.each do |pending_booking| %>
      <div class="card-pending-booking border">
        <h4>- Waiting for <%= pending_booking.pet.user.username %> to confirm your booking of <%= Pet.find(pending_booking.pet_id).name %></h4>
      </div>
    <% end %>
  </div>

  <div class="card-dashboard">
    <h1>Your pending bookings as an owner(<%= @pending_bookings_as_owner.count %>)</h1>
    <h3>You have <%= @pending_bookings_as_owner.count %> bookings requests to answer to:</h3>
    <% @pending_bookings_as_owner.each do |pending_booking_as_owner| %>
      <div class="border">
        <h3> <%= User.find(pending_booking_as_owner.user_id).username %> wants to rent your pet <%= Pet.find(pending_booking_as_owner.pet_id).name  %> </h3>
          <p>From: <%= pending_booking_as_owner.starting_date.strftime("%a %e %b %y") %></p>
          <p>To: <%= pending_booking_as_owner.ending_date.strftime("%a %e %b %y")  %></p> <br>
          Accept or decline here. <br>
          <p>Price: <%= ((pending_booking_as_owner.ending_date - pending_booking_as_owner.starting_date)/86400) * Pet.find(pending_booking_as_owner.pet_id).price %>€</p>
          <%= simple_form_for(pending_booking_as_owner) do |t| %>
            <%= t.input :status, as: :select, collection: Booking.statuses.keys, selected: 1, required: true %> %>
            <%= t.submit  %>
          <% end %>
      </div>
    <% end %>
  </div>

  <div class="card-dashboard">
    <h1>Accepted Bookings as a user(<%= @accepted_bookings.count %>)</h1>
    <h3> This is the list of pets that you can go pick up on due date</h3>
    <% @accepted_bookings.each do |accepted_booking| %>
      <div class="card-accepted-booking">
        Booking confirmed. You can get your new pet <%= Pet.find(accepted_booking.pet_id).name  %>! <br>
        <p>From: <%= accepted_booking.starting_date.strftime("%a %e %b %y") %></p>
        <p>To: <%= accepted_booking.ending_date.strftime("%a %e %b %y")  %></p>
        <p>Price: <%= ((accepted_booking.ending_date - accepted_booking.starting_date)/86400) * Pet.find(accepted_booking.pet_id).price %>€</p>
        <%= link_to "Show booking", booking_path(accepted_booking), class: "btn btn-light" %>
      </div>
    <% end %>
  </div>

  <div class="card-dashboard">
    <h1>Accepted bookings as a owner (<%= @accepted_bookings_as_owner.count %>)</h1>
    <h3>Congratulations, you have  <%= @accepted_bookings_as_owner.count %> pets of yours that are being booked</h3>
    <% @accepted_bookings_as_owner.each do |accepted_booking_as_owner| %>
      <div class="card-accepted-booking">
        Booking confirmed. You can get your new pet <%= Pet.find(accepted_booking_as_owner.pet_id).name  %>! <br>
        <p>From: <%= accepted_booking_as_owner.starting_date.strftime("%a %e %b %y") %></p>
        <p>To: <%= accepted_booking_as_owner.ending_date.strftime("%a %e %b %y")  %></p>
        <p>Price: <%= ((accepted_booking_as_owner.ending_date - accepted_booking_as_owner.starting_date)/86400) * Pet.find(accepted_booking_as_owner.pet_id).price %>€</p>
      </div>
    <% end %>
  </div>



</div>
