<!DOCTYPE html>
<html>
  <head>
    <title>PETZOTIC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,200;0,300;0,400;1,300;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>


    <%= render 'components/navbar' %>
    <%# <%= render 'components/banner' %>
    <%#= render 'components/cards' %>

      <%= yield %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <% unless params[:controller] =~ /devise/  %>
      <%= render 'components/footer' %>
      <% end %>
  </body>
</html>
